.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
  background-color: white;
    min-height: 100vh;
  position: relative;
  }


.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
    }

        to {
          transform: rotate(360deg);
        }
}